@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');


:root{
    --header-color: #59e9fcce ;
    --body-bg: white;
    --body-color: ;
    --main-color: ;
    --main-bg: #F0F0F0;
    --input-bg: #b2f177e5;
    --input-color: rgba(0, 0, 0, 0.507) ;
    --task-bg: rgba(128, 128, 128, 0.11);
    --task-color: #434647;
    --footer-bg: #14D87A;
    --footer-color: white;
    --inputs-bg2:#14d8a7;
    --task-bg2: rgba(136, 255, 0, 0.452);
    --task-color2: rgb(109, 109, 109);
}
.dark-mode:root{
    --header-color: #52ff6f ;
    --body-bg: rgb(37, 37, 37);
    --body-color: ;
    --main-color: ;
    --main-bg: #646262;
    --input-bg: #fef7ffbd;
    --input-color: white ;
    --task-bg: rgba(175, 175, 175, 0.89);
    --task-color: #353535;
    --footer-bg: #14D87A;
    --footer-color: white;
    --inputs-bg2:#9bffe6;
    --task-bg2: rgb(139, 241, 126);
    --task-color2: rgb(65, 65, 65);
}

#checkDarkMode{
    position: relative;
    width: 20px;
    height: 20px;
    bottom: 20px;
    left: 65px;
    
}

span{
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 15pt;
    color: rgb(73, 73, 73);
    text-align: center;

}

header{
    color: var(--header-color);
    margin: auto;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 50pt;
}

body{
    background-color: var(--body-bg);    
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
main{
    background-color: var(--main-bg);
    max-width: 900px;
    min-height: 600px;
    height: min-content;
    border-radius: 20px;
    margin: 30px auto;
    padding-bottom: 10px;
}
#inputs > input{
    background-color: var(--input-bg);
    border-radius: 20px 20px 5px 5px;
    border: none;
    margin: auto;
    width: 100%;
    padding: 0;
    height: 60px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 15pt;
    color: var(--input-color);
    text-align: center;
    
}

input:focus{
    outline: none;
    background-color: var(--inputs-bg2) ;
}

#toDos{
    margin: 20px 10px 10px 10px;
}

.tarefa_div{
    background-color: var(--task-bg) ;
    width: 85%;
    height: 30px;
    display: inline-block;
    border-radius: 5px 20px 20px 5px;
    border: none;    
    text-align: center;
    padding: 10px 10px 0px;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: var(--task-color);
    font-size: 15pt;
}
input[type="checkbox"]{
    width: 30px;
    height: 30px;
    position: relative;
    bottom: -7px;
    left: 60px;

}
input[type="checkbox"]:checked + div{ 
    
    background-color: var(--task-bg2);
    color: var(--task-color2);
    transition-duration: 1s;

}
input[type="checkbox"]:not(checked) + div{ 
    
    transition-duration: 1s;
}

input[type="button"]{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    border: none;
    background-color: var(--task-bg);
    color: azure;
    cursor: pointer;
    margin: 0;
    position: relative;
    bottom: 4px; 
         
}

input[type="button"]:hover{
    background-color: #ff048e9d;
    transition: 1s;
}

.tarefa_div:hover{
    background-color: #a6f7aae5;
    transition: 1s;
}

footer{
    color: white;
    background-color: #14D87A ;
    height: 150px;
    width: 100%;   
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    padding-top: 10px;
    font-size: 15pt;
    position: relative;
    bottom: -200px;
}

img{
    width: 50px;
    margin: 0 10px;
}
